/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
}

/* Use attribute selectors for the first part of the exercise */

/* 4 & 6 */
li[class*="do"] {
  color: var(--royalblue);
}

/* 1 & 5 */
li[class$="og"] {
  color: var(--violet);
}

/* 2 */
li[id="cat"] {
  color: var(--teal);
}

/* 3 */
li[class="parrot"] {
  color: var(--green);
}

/* Use descendant, child, and sibling selectors for the second part */

section li {
  color: var(--green);
}

section li.first ~ li {
  color: var(--darkmagenta);
}

section li.second + li {
  color: var(--royalblue);
}
